/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(10, 107, 167);
  position: sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #f2ee0b;
  color: black;
}
